#Repo: UDC Links

*.code-workspace








# ===================================
# Archivos del sistema
# ===================================
#.DS_Store
#Thumbs.db

# ===================================
# Archivos temporales
# ===================================
#*.swp
#*.tmp
#*.bak
#*.log
#
## ===================================
## Compilación de C / C++
## ===================================
#*.o
#*.out
#*.exe
#*.a
#*.so
#*.dll
#
## ===================================
## Python
## ===================================
#__pycache__/
#*.pyc
#*.pyo
#*.pyd
#.venv/
#venv/
#.env
#
## ===================================
## LaTeX
## ===================================
#*.aux
#*.bbl
#*.blg
#*.brf
#*.log
#*.nav
#*.out
#*.snm
#*.toc
#*.synctex.gz
#*.fdb_latexmk
#*.fls
#
## ===================================
## Jupyter
## ===================================
#.ipynb_checkpoints/
#
## ===================================
## VSCode / IDEs
## ===================================
#.vscode/
#.idea/
#*.code-workspace
#
## ===================================
## Builds
## ===================================
#build/
#dist/
#
